
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="text-right mt-10">
        <button class="btn btn-primary" routerLink="/newForm">Create User</button>
			</div>
      <table class="table table-bordered mt-10">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Address</th>
            <th>PAN Number</th>
            <th>Aadhaar Number</th>
            <th>Action</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userData index as i">
          	<td class="text-center">{{i+1}}</td>
            <td class="text-center text-capitalize">{{user.name?user.name:'N/A'}}</td>
            <td class="text-center">{{user.address?user.address:'N/A'}}</td>
            <td class="text-center">{{user.pan}}</td>
            <td class="text-center">{{user.aadhar?user.aadhar:'N/A'}}</td>
            <td class="text-center" routerLink="/viewUser" [queryParams]="{id: i}">Edit</td>
            <td class="text-center" (click)="deleteUser(user.email)">Delete</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
