<div class="container">
	<h1>Create User</h1>
	<div class="row justify-content-center mt-3">
		<div class="col-8">
		<!-- <form [formGroup]="regForm" (ngSubmit)="submitForm()">
				<div class="form-group">
					<input type="text" name="name" formControlName="name" class="form-control" placeholder="Enter Name">
				</div>
				{{regForm.controls.name.errors | json}}
				<div class="form-group">
					<input type="text" name="age" class="form-control" formControlName="age" placeholder="Enter Age" required>
				</div>
				{{regForm.controls.age.errors | json}}
				<div class="form-group">
					<input type="text" name="phone" class="form-control" formControlName="phone" placeholder="Enter Phone Number" required>
				</div>
				{{regForm.controls.phone.errors | json}}

				<button type="submit" class="btn btn-primary">Submit</button>
			</form> -->
		<form name="myForm" #myForm="ngForm" (ngSubmit)="submitForm(user)">
				<div class="form-group">
					<input type="text" name="name" [(ngModel)]="user.name" class="form-control" placeholder="Enter Name">
				</div>
				<div class="form-group">
					<input type="text" name="age" class="form-control" [(ngModel)]="user.age" placeholder="Enter Age" required>
				</div>
				<div class="form-group">
					<input type="text" name="phone" class="form-control" [(ngModel)]="user.phone" placeholder="Enter Phone Number" required>
				</div>
				<div class="form-group">
					<input type="email" email name="email" class="form-control" [(ngModel)]="user.email" placeholder="Enter E-mail" required>
				</div>

				<button type="submit"  class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div> 

